<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="big-month">

      <%= Date.current.strftime('%m')%>
      </div>
      <%= Date.current.strftime('%Y.%m.%d')%>
    </div>
  </div>
  <div class="data-box">
    <div class="btn-center">
      <div class="btn-padding">
        <%= link_to image_tag("income-in.svg", :width => '200', class:"収入の記入"), new_dashboard_income_path(Date.current.strftime('%Y-%m-%d')) %>
      </div>
      <div class="btn-padding">
        <%= link_to image_tag("expense-in.svg", :width => '200', class:"支出の記入"), new_dashboard_expense_path(Date.current.strftime('%Y-%m-%d')) %>
      </div>
    </div>
  </div>
</div>