<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="big-month">

      <%= Date.current.strftime('%m')%>
      </div>
      <%= Date.current.strftime('%Y.%m.%d')%>
    </div>
  </div>
  <div class="data-box">
    <div class="btn-center"> 
        <ul>
        <li><div class="btn-data"><%= link_to "家計簿作成", new_dashboard_income_path(Date.current.strftime('%Y-%m-%d')) %></div></li>       
        <li><div class="btn"><%= link_to "支出の入力", new_dashboard_expense_path(Date.current.strftime('%Y-%m-%d')) %></div></li>
        </ul>
    </div>
  </div>
</div>